h3{
    font-size: 24pz !important;
}
.btn-success:hover{
    background-color: indigo;
}
canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px yellowgreen;}
    from{box-shadow: 1px 1px 38px blueviolet;}
}